* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0f172a;
    font-family: Arial;
}

.tarjeta {
    width: 800px;
    height: 600px;
    margin: 20px auto;
    padding: 15px;

    background: #1e293b;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 420px 55px;
    gap: 10px;
}

.nombre {
    grid-column: 1 / 3;

    background: #6366f1;
    border: 5px solid #a855f7;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #f8fafc;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.izq {
    grid-column: 1;
    grid-row: 2;

    background: #0f172a;
    border: 5px solid #334155;

    display: flex;
    justify-content: center;
    align-items: center;
}

.der {
    grid-column: 2;
    grid-row: 2;

    background: #06b6d4;
    border: 5px solid #334155;

    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.pie {
    grid-column: 1 / 3;

    background: #6366f1;
    border: 5px solid #a855f7;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #f8fafc;
    font-size: 16px;
    text-align: center;
}

.cara {
    width: 280px;
    height: 330px;

    background: #10b981;
    border: 5px solid #047857;

    position: relative;
}

.ojo {
    width: 70px;
    height: 110px;

    background: #0f172a;
    border-radius: 50%;
}

.cara .ojo {
    position: absolute;
    top: 40px;
}

.ojo1 {
    left: 40px;
}

.ojo2 {
    right: 40px;
}

.boca {
    width: 230px;
    height: 70px;

    background: #0f172a;
    border-radius: 50%;

    position: absolute;
    bottom: 35px;
    left: 21px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    padding: 20px 45px;
}

.diente {
    background: #f8fafc;
}

.ojoc {
    background: #ec4899;
    border: 4px solid #be185d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ojoc .ojo {
    position: static;
}

.ojo3,
.ojo4 {
    width: 70px;
    height: 100px;
}

.info {
    grid-column: 1 / 3;

    background: #f59e0b;
    border: 4px solid #b45309;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #f8fafc;
    font-size: 25px;
    font-weight: bold;
}
